@charset "UTF-8";
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-padding {
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Скрытие заголовка */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.22;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #2196f3;
  display: inline-block;
  background: none;
}

.header__logo {
  color: #000000;
}

.footer__logo {
  color: #ffffff;
  background: #2f303a;
}

.nav {
  color: #212121;
}
.nav__list {
  gap: 50px;
  margin-left: 91px;
}
.nav__item--position-relative {
  display: inline-block;
  position: relative;
}
.nav__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--active, .nav__link--accent:hover, .nav__link--accent:focus {
  color: #2196f3;
}
.nav__link--after::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
  /* opacity: 0; */
}

.contacts-list {
  margin-left: auto;
  gap: 30px;
}

.contacts-list__link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}
.contacts-list__link__icon {
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover .contacts-list__icon, .contacts-list__link:focus .contacts-list__icon {
  fill: #2196f3;
}

.social-list {
  justify-content: center;
  gap: 10px;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}
.social-list__link--bg {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list__svg {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__svg:hover, .social-list__svg:focus {
  fill: #ffffff;
}
.social-list__link:hover .social-list__svg, .social-list:focus .social-list__svg {
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.features-list {
  display: flex;
  padding-bottom: 0;
  align-items: normal;
  justify-content: space-between;
  /* Заголовки h3 Секции "Особенности"*/
  /* текст Секции "Особенности" */
}
.features-list__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
.features-list__text {
  width: 270px;
  line-height: 1.7;
}

/* Иконки секции Особливості через SVG*/
.wrapper-icon {
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.section__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.our-work__list {
  gap: 30px;
}

.our-work__container {
  position: relative;
  overflow: hidden;
}

.our-work__text {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  justify-content: space-between;
}
.team-list__item {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__caption {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}
.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.clients-list {
  justify-content: space-between;
}
.clients-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid #2196f3;
}
.clients-list__icon {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer__container {
  display: flex;
  justify-content: left;
  gap: 70px;
  align-items: baseline;
}
.footer__text {
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.address {
  margin-top: 20px;
}
.address__item--margin-top {
  margin-top: 9px;
}
.address__link {
  font-style: normal;
  line-height: 1.7;
  color: #ffffff;
}
.address__link--color {
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-mail__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  margin-right: 12px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.form-mail__input:hover, .form-mail__input:focus {
  border: 1px solid #2196f3;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Кнопка */
.button {
  min-width: 216px;
  display: inline-block;
  padding: 10px 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #ffffff;
  color: #757575;
  color: #ffffff;
  border-radius: 4px;
  background-color: #2196f3;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:active {
  background: #188ce8;
}

.btn-send {
  display: inherit;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn-send:active {
  background: #188ce8;
}
.btn-send__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.btn-send__icon {
  fill: #ffffff;
  margin-left: 10px;
}
.btn-send--for-modal {
  padding: 0;
  margin-top: 30px;
  /* display: inherit; */
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-send--for-modal:hover, .btn-send--for-modal:focus {
  background: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  backdrop-filter: blur(10px);
}

.modal {
  position: absolute;
  top: 0;
  left: 0%;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 528px;
  height: 581px;
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
  padding-left: 41px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  cursor: pointer;
}

.is-hidden .modal {
  scale: 0;
}

/* Выравнивание кнопки относительно мод.окна */
.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-btn__icon {
  fill: #000000;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-btn:hover .close-btn__icon, .close-btn:focus .close-btn__icon {
  fill: #2196f3;
}

.form {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.form__label {
  display: block;
  margin: 12px auto 4px;
}
.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
  height: 40px;
  width: 100%;
}
.form__input:hover, .form__input:focus {
  border: 1px solid #2196f3;
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: #2196f3;
}
.form #comment {
  font-family: "Roboto";
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  width: 100%;
  height: 96px;
}
.form__icon-wrap {
  position: relative;
  display: flex;
  align-items: center;
}
.form__icon {
  position: absolute;
  left: 12px;
  fill: #000000;
}

.checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.checkbox__link {
  text-decoration: underline;
  color: #2196f3;
}
.checkbox__text {
  font-size: 14px;
  line-height: 1.7142857143;
}
.checkbox__castom-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 7px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon-check {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox__label .checkbox__castom-icon {
  background: #2196f3;
  border-color: #2196f3;
}
.checkbox:checked + .checkbox__label .checkbox__castom-icon .checkbox__icon-check {
  opacity: 1;
}
.checkbox__label {
  gap: 7px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons {
  margin-bottom: 50px;
}
.buttons__item:not(:first-child) {
  margin-left: 8px;
}

.portfolio-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: #212121;
  background: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  /* font-family: inherit; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button.active, .portfolio-button:hover, .portfolio-button:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  flex-wrap: wrap;
  /* Каждый третий */
}
.project__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project__item:hover, .project__item:focus {
  border: 1px solid #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__item:hover .project__description-text, .project__item:focus .project__description-text {
  transform: translateY(0);
}
.project__item:nth-child(3n) {
  margin-right: 0;
}
.project_item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.project__link {
  display: block;
  text-decoration: none;
  list-style: none;
  color: #757575;
}
.project__link:visited, .project__link {
  font-size: 16px;
  line-height: 1.87;
}
.project__description-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.project__description-text {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(calc(100% + 1px));
  /* transform: translateY(100%); */
  font-size: 18px;
  line-height: 1.5555555556;
  padding: 63px 24px;
  color: #ffffff;
  background-color: #2196f3;
}
.project__caption {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.project__text {
  font-size: 16px;
  line-height: 1.87;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

.header {
  border-bottom: 1px solid #ececec;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/icons/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */