:root {
  --priority-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --borders-color: #ececec;
  --hero-footer-background: #2f303a;
  --page-background: #ffffff;
  --logo-header: #000000;
  --logo-footer: #ffffff;
  --hero: #ffffff;
  --team-background: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
  --team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --project-border: #eeeeee;
  --hero-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --hero-button-active: #188ce8;
  --clients: #afb1b8;
  --bg-img: #c4c4c4;

  --white: #ffffff;
}

/* Подключается через modern-normalize.min.css */
/* html {
    box-sizing: border-box;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
} */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--page-background);
  color: var(--priority-text-color);
}

/* Утилиты */
/* Сброс верхних отступов в заголовках, тексте и списках */
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-padding {
  padding: 0;
}

.header {
  border-bottom: 1px solid var(--borders-color);
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


/* Для ссылок падинги  .link*/
.nav__link,
.contacts-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}


/* Ссылка-Логотип  */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.22;
  color: var(--accent-color);
  display: inline-block;
}

/* Текст Studio */
.header__logo {
  color: var(--logo-header);
}

.footer__logo {
  color: var(--logo-footer);
}


/* Меню навигации */
.nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.nav__list {
  gap: 50px;
  margin-left: 91px;
} 
/* Ссылки в навигации */

/* Цвет наведения на ссылку*/
.nav__link--active,
.nav__link--accent:hover,
.nav__link--accent:focus,
.contacts-list__link--accent,
.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__link,
.contacts-list__icon {
  color: var(--priority-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover .contacts-list__icon,
.contacts-list__link:focus .contacts-list__icon {
  fill: var(--accent-color);
}
/* Выравнивание у левому краю */
.contacts-list {
  margin-left: auto;
  gap: 30px;
}

/* Подчёркивание ссылок с низу через ::after */

.nav__item--position-relative {
  display: inline-block;
  position: relative;
}

.nav__link--after::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
  /* opacity: 0; */
}

.active {
  opacity: 1;
}
/* .active.link-hover:hover::after,
.link-hover:focus::after {
  opacity: 1;
  
  } */

.contacts-list__link {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Секция Герой */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--bg-img);
  background: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/icons/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero);
}

/* Кнопка */
.button {
  min-width: 216px;
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--logo-footer);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: var(--hero-box-shadow);
  cursor: pointer;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:active,
.btn-send:active {
  background: var(--hero-button-active);
}

/* Секции */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Заголовки секций h2 */
.section__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* Скрытие заголовка */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Особливості  сброс нижнего паддинга*/

.features-list {
  display: flex;
  padding-bottom: 0;
  align-items: normal;
  justify-content: space-between;

}


/* Иконки секции Особливості через SVG*/

.wrapper-icon {
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--team-background);
}

/* Иконки секции Особливості через ::before */
/* Дать ли peculiarities-item icon-clock */
/* .peculiarities-item::before {
    content: "";
    display: block;
    height: 120px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--team-background);
} 

.icon-antena::before {
    background-image: url(../images/icons/antenna.svg) ;
}
.icon-clock::before {
    background-image: url(../images/icons/clock.svg) ;
}
.icon-diagram::before {
    background-image: url(../images/icons/diagram.svg) ;
}
.icon-astronaut::before {
    background-image: url(../images/icons/astronaut.svg) ;
} */

/* Заголовки h3 Секции "Особенности"*/
.features-list__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/* текст Секции "Особенности" */
.features-list__text {
  width: 270px;
  line-height: 1.7;
}

/* Секция Чим ми займаемося */
.our-work__list {
  gap: 30px;
}

.team-list,
.clients-list {
  justify-content: space-between;
}

.our-work__container {
  position: relative;
  overflow: hidden;
}

.our-work__text {
  position: absolute;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  left: 0;
  bottom: 0;

  font-weight: 700;
  line-height: calc(16 / 14);
  /* text-align: center; */
  text-transform: uppercase;

  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Секция Наша команда */
.team {
  background-color: var(--team-background);
}

.team-list__item {
  width: 270px;
  /* height: 368px; */
  background: var(--page-background);
  box-shadow: var(--team-box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-list__caption {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  justify-content: center;
  gap: 10px;
}
/* Объединение для выравнивания */
/* .content {
  margin-top: 30px;
  margin-bottom: 30px;
} */

/* Соцсети  Наша команда*/
.social-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-list__link {
  background: var(--page-background);

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__svg {
  fill: var(--clients);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__svg:hover,
.social-list__svg:focus {
  fill: var(--logo-footer);
}
.social-list__link:hover .social-list__svg,
.social-list__link:focus .social-list__svg {
  fill: var(--logo-footer);
}

/* Секция Постійні клієнти */

/* a */
.clients-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients);
  border-radius: 4px;

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list__link:hover,
.clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

/* Секция Наша команда svg без ховера */
.clients-list__icon {
  fill: var(--clients);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .svg-contact-icon { */
  .contacts__icon {
  fill: var(--priority-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus,
.clients-list__link-icon:hover,
.clients-list__icon:focus {
  fill: var(--accent-color);
}
.clients-list__item:hover .clients-list__icon,
.clients-list__item:focus .clients-list__icon {
  fill: var(--accent-color);
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--hero-footer-background);
}
.address {
  margin-top: 20px;
}

.address__item--margin-top {
  margin-top: 9px;
}
.address__link {
  font-style: normal;
  line-height: 1.7;
  color: var(--logo-footer);
  text-decoration: none;
}

.address__link--color {
  color: var(--address-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* Приєднуйтесь */

.footer__text {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--hero);

  margin-bottom: 20px;
}

.social-list__link:hover,
.social-list__link:focus {
  fill: var(--logo-footer);
}

/* Форма  Підпишіться на розсилку*/

/* .form-mail {
  width: 570px;
  line-height: calc(20 / 16);
} */

.form-mail:hover .input-mail,
.form-mail:focus .input-mail {
  border: 1px solid var(--accent-color);
}

.modal-container {
  display: flex;
  width: 570px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-mail__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-footer-background);
  margin-right: 12px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-mail__input:hover,
.form-mail__input:focus {
  border: 1px solid var(--accent-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-send {
  display: inherit;
  width: 200px;
  height: 50px;
  color: var(--white);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  
}
.btn-send__text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--page-background);
}

.btn-send__icon {
  fill: var(--page-background);
  margin-left: 10px;
}

/* Страница Портфолио */
/* Кнопки */
.btn-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--title-text-color);
  background: var(--team-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  /* font-family: inherit; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;

  transition-property: color, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .item:not(:first-child) {
  margin-left: 8px;
}
/* Активная кнопка */
.portfolio-button.active,
.portfolio-button:hover,
.portfolio-button:focus {
  /* padding: 6px 25px; */
  color: var(--logo-footer);
  background: var(--accent-color);
  box-shadow: var(--portfolio-box-shadow);
}

/*  Синий оверлей*/

.project-description-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.project-description-text {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(calc(100% + 1px));
  /* transform: translateY(100%); */

  font-size: 18px;
  line-height: calc(28 / 18);
  padding: 63px 24px;

  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
}

.project:hover .project-description-text,
.project:focus .project-description-text {
  transform: translateY(0);
}

/* .portfolio-button.active {

    padding: 6px 25px;
    color: var(--logo-footer);
    background: var(--accent-color);
    box-shadow: var(--portfolio-box-shadow);
} */
/* flex-container */
.projects {
  flex-wrap: wrap;
  /* margin: -15px; */
}

.project-link {
  display: block;
  text-decoration: none;
  list-style: none;
  color: var(--priority-text-color);
}

.project-caption {
  padding: 20px 24px;
  border-right: 1px solid var(--project-border);
  border-left: 1px solid var(--project-border);
  border-bottom: 1px solid var(--project-border);
}
/* Заголовки h2 Проектов */
.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.projects-text,
.project-link:visited,
.project-link {
  font-size: 16px;
  line-height: 1.87;
}

.projects__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--page-background);
  transition-duration: 250ms;
  transition-property: border, box-shadow, background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover,
.projects__item:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Каждый третий */
.projects__item:nth-child(3n) {
  margin-right: 0;
}

/* Последние 3 элемента */
.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}


.footer .container {
  display: flex;
  justify-content: left;
  gap: 70px;
  align-items: baseline;
}




/* Модалка */
.is-hidden {
  visibility: hidden;
  /* opacity: 0; */
  cursor: pointer;
  /* pointer-events: ; */
}

.is-hidden .modal {
  scale: 0;
}
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;

  transition-property: opaciti, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  backdrop-filter: blur(10px);
}

.modal {
  position: absolute;
  top: 0;
  left: 0%;
  bottom: 0;
  right: 0;
  margin: auto;
  
  width: 528px;
  height: 581px;
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
  padding-left: 41px;

  background-color: var(--hero);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Выравнивание кнопки относительно мод.окна */
.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn__icon {
  fill: var(--logo-header);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-btn:hover .close-btn__icon,
.close-btn:focus .close-btn__icon {
  fill: var(--accent-color);
  cursor: pointer;
}






/* Форма модалки */
.form {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form__label {
  display: block;
  margin: 12px auto 4px;
  /* color: var(--); */
  
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


  padding-left: 42px;
  height: 40px;
  width: 100%;
}

.form__icon-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.form__icon {
  position: absolute;
  left: 12px;
  fill: var(--logo-header);
}








#comment {
  font-family: 'Roboto';
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  resize: none;
  width: 100%;
  height: 96px;
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

/* .modal-button { */
  .btn-send--for-modal{
  padding: 0;
  margin-top: 30px;
  /* display: inherit; */
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  color: var(--white);
  background: var(--accent-color);
  
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send--for-modal:hover,
.btn-send--for-modal:focus {
  background: var(--hero-button-active);
}


/* checkbox */

.checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;

}

.checkbox__link {
  text-decoration: underline;
  color: var(--accent-color);
 
}
.checkbox__text {
  font-size: 14px;
  line-height: calc(24/14);
  }

.checkbox__castom-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  margin-right: 7px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon-check {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  
}

.checkbox:checked + .checkbox__label .checkbox__castom-icon {
  background: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox:checked + .checkbox__label .checkbox__castom-icon .checkbox__icon-check{
  opacity: 1;
}



.form-mail__input:not(:placeholder-shown):required:valid {
  border-color: var(--accent-color);
  background: var(--hero-footer-background);
  color: rgba(255, 255, 255, 0.6);

}
.form-mail__input:not(:placeholder-shown):required:invalid {
  border-color: red;
  background: var(--hero-footer-background);
  color: rgba(255, 255, 255, 0.6);
}
.form-mail__input:focus-within {
  border-color: #2196f3;
}

.form-mail__input:focus-within {
  color: rgba(255, 255, 255, 0.6);
  border-color: #2196f3;
}
